Repository SAP/invoke-plugin-for-sphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, black, isort, mypy, pylint, flake8, yesqa, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/fsfe/reuse-tool
    rev: v4.0.3
    hooks:
      - id: reuse
  - repo: local
    hooks:
      - id: uv-lock
        name: uv-lock
        entry: uv lock
        args: [--check]
        language: system
        files: ^(uv\.lock|pyproject\.toml)$
        pass_filenames: false
        require_serial: true
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: yesqa
        name: yesqa
        entry: yesqa
        language: system
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py39-plus]
  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
      - id: yamlfmt
        args: [--mapping, '2', --sequence, '4', --offset, '2', --implicit_start]

Add tomlsort
  .pre-commit-config.yaml
  REUSE.toml
  pyproject.toml
  uv.lock
Due: uv-lock

Add tomlsort (#194)
  .pre-commit-config.yaml
  REUSE.toml
  pyproject.toml
  uv.lock
Due: uv-lock

Improve uv version
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

Improve uv version (#195)
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

Add settings for FTP041
  .flake8
Due: none

Fix require_serial
  .pre-commit-config.yaml
Due: none

Add settings for FTP041 (#196)
  .flake8
Due: none

Activate pylint extensions
  pyproject.toml
Due: uv-lock

Activate strict_equality_for_none
  pyproject.toml
Due: uv-lock

Fix require_serial (#197)
  .pre-commit-config.yaml
Due: none

Fix
  pyproject.toml
Due: uv-lock

Activate pylint extensions (#198)
  pyproject.toml
Due: uv-lock

Add support for python 3.14
  .github/workflows/main.yml
  .python-version
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: uv-lock

Add support for python 3.14 (#210)
  .github/workflows/main.yml
  .python-version
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: uv-lock

Bump to 4.0.0
  .flake8
  .github/workflows/main.yml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

Bump to 4.0.0 (#215)
  .flake8
  .github/workflows/main.yml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

Add support for sphinx 9
  .github/workflows/main.yml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

Fix
  invoke_plugin_for_sphinx/_plugin.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Fix
  .github/workflows/main.yml
  invoke_plugin_for_sphinx/_plugin.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Fix
  .github/workflows/main.yml
Due: none

Add support for sphinx 9 (#236)
  .github/workflows/main.yml
  CHANGELOG.md
  invoke_plugin_for_sphinx/_plugin.py
  pyproject.toml
  uv.lock
Due: uv-lock, black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Improve
  .github/dependabot.yml
  renovate.json
Due: none

Fix
  tests/test_project/project/__init__.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Welcome 2026
  README.md
  REUSE.toml
Due: none

Welcome 2026 (#274)
  README.md
  REUSE.toml
Due: none

Update project
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  news/+9002ce43.change.md
  news/.gitignore
  pyproject.toml
  uv.lock
Due: uv-lock

Update project (#290)
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  news/+9002ce43.change.md
  news/.gitignore
  pyproject.toml
  uv.lock
Due: uv-lock

Fix missing dependency
  pyproject.toml
Due: uv-lock

Fix
  uv.lock
Due: uv-lock

Fix missing dependency (#293)
  pyproject.toml
  uv.lock
Due: uv-lock

Update CI coverage reporting conditions
  .github/workflows/main.yml
Due: none

Add yamlfmt pre-commit hook
  .pre-commit-config.yaml
Due: none

Fix
  .github/workflows/main.yml
  news/+fd88f4ae.feature.md
Due: none

Fix
  pyproject.toml
  uv.lock
Due: uv-lock

Fix
  tests/test_plugin.py
  tests/test_project/project/__init__.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Remove support for sphinx 7.x
  .github/workflows/main.yml
  news/+44f0ff4c.removal.md
  pyproject.toml
  uv.lock
Due: uv-lock
